.vuesaxboldnotification-icon {
  width: 29px;
  position: relative;
  height: 29px;
  z-index: 0;
}
.notification-number-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--error-color-400);
  width: 21px;
  height: 21px;
}
.div {
  position: absolute;
  top: 2px;
  left: 8px;
  font-weight: 500;
}
.notification-number {
  width: 21px;
  position: absolute;
  margin: 0 !important;
  top: -8px;
  left: 11px;
  height: 21px;
  z-index: 1;
}
.notification {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--mobile-h8-medium-12-size);
  color: var(--light-solid-color-extra-card-background);
  font-family: var(--dashboard-h4-regular-24);
}
