.request-id {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.table-cell723 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-xl);
}
.created9 {
  width: 61px;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.trash-icon63 {
  width: 22px;
  position: relative;
  height: 22px;
  display: none;
}
.table-cell728,
.table-header-row21 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.table-cell728 {
  width: 62px;
  height: 48px;
  align-items: center;
  padding: var(--padding-smi) var(--padding-xl);
  box-sizing: border-box;
}
.table-header-row21 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-lavender);
  align-items: flex-start;
  padding: 0 var(--padding-5xl) 0 var(--padding-base);
  font-size: var(--light-basic-typography-paragraph-small-size);
  color: var(--neutral-color-300);
  font-family: var(--light-basic-typography-paragraph-small);
}
.div192 {
  width: 96px;
  flex: 1;
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.text145 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.table-cell729 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xl);
  font-family: var(--light-basic-typography-paragraph-small);
}
.min-ago13 {
  width: 70px;
  position: relative;
  line-height: 22px;
  display: inline-block;
  flex-shrink: 0;
}
.table-cell730 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-xl);
  font-family: var(--light-basic-typography-paragraph-small);
}
.joseph-wheeler35 {
  position: relative;
  font-weight: 500;
}
.table-cell731 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-xl);
}
.apple-iphone-1313 {
  flex: 1;
  position: relative;
  line-height: 21px;
  font-weight: 500;
}
.table-cell732 {
  width: 212px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-xl);
  box-sizing: border-box;
  color: var(--color-gray-200);
}
.nike-air-jordan37 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.table-cell733 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-xl);
  color: var(--brand-color-300);
}
.material-symbolsarrow-drop-do-icon13 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  cursor: pointer;
}
.table-cell734 {
  padding: var(--padding-lg) var(--padding-xl);
}
.table-cell734,
.table-cell735,
.table-row106 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.table-row106 {
  align-self: stretch;
  background-color: var(--color-whitesmoke-300);
  border-bottom: 1px solid var(--color-whitesmoke-300);
  padding: 0 var(--padding-5xl) 0 var(--padding-base);
}
.table-cell735 {
  width: 105px;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
}
.product-112 {
  flex: 1;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.table-cell736,
.table-cell737 {
  align-items: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
}
.table-cell736 {
  width: 212px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.table-cell737 {
  width: 119px;
}
.table-cell737,
.table-cell738,
.table-header-row22 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.table-cell738 {
  width: 114px;
  align-items: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
}
.table-header-row22 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-lavender);
  align-items: flex-start;
  padding: 0 var(--padding-5xs);
}
.div194 {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.table-cell742 {
  width: 105px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-xl);
  box-sizing: border-box;
}
.apple-iphone-1314 {
  flex: 1;
  position: relative;
  line-height: 21px;
}
.table-cell743,
.table-cell744 {
  display: flex;
  justify-content: flex-start;
}
.table-cell743 {
  width: 212px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-lg) var(--padding-xl);
  box-sizing: border-box;
}
.table-cell744 {
  width: 119px;
  padding: var(--padding-sm) var(--padding-xl);
}
.table-cell744,
.table-cell745,
.table-cell746 {
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.table-cell745 {
  width: 114px;
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-xl);
}
.table-cell746 {
  width: 212px;
  padding: var(--padding-6xs) var(--padding-xl);
  color: var(--brand-color-300);
}
.table-cell746,
.table-cell747,
.table-row107,
.table22 {
  display: flex;
  justify-content: flex-start;
}
.table-cell747 {
  width: 119px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-mid) var(--padding-xl);
  box-sizing: border-box;
}
.table-row107,
.table22 {
  border-bottom: 1px solid var(--color-lavender);
}
.table-row107 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-5xs);
  font-size: var(--light-basic-typography-paragraph-medium-size);
  color: var(--color-gray-200);
}
.table22 {
  width: 1128px;
  background-color: var(--color-gray-100);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-41xl) var(--padding-5xl) var(--padding-5xl);
  font-size: var(--light-basic-typography-paragraph-small-size);
  color: var(--color-lightslategray);
}
.table-cell749,
.table-cell750 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xl);
}
.table-cell750 {
  padding: var(--padding-lg) var(--padding-xl);
}
.div198 {
  position: relative;
  line-height: 22px;
}
.table-cell751,
.table-cell752,
.table-cell753 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.table-cell751 {
  flex: 1;
  padding: var(--padding-smi) var(--padding-xl);
}
.table-cell752,
.table-cell753 {
  font-family: var(--dashboard-h4-regular-24);
}
.table-cell752 {
  width: 212px;
  padding: var(--padding-lg) var(--padding-xl);
  box-sizing: border-box;
  color: var(--color-gray-200);
}
.table-cell753 {
  flex: 1;
  padding: var(--padding-smi) var(--padding-xl);
  color: var(--brand-color-300);
}
.material-symbolsarrow-drop-do-icon14 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.table-cell754 {
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-xl);
  gap: var(--gap-5xs);
}
.table-cell754,
.table-row108,
.table21 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.table-row108 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-lavender);
  flex-direction: row;
  padding: 0 var(--padding-5xl) 0 var(--padding-base);
  font-family: var(--light-basic-typography-paragraph-small);
}
.table21 {
  position: absolute;
  width: calc(100% - 312px);
  top: 415px;
  right: 22px;
  left: 290px;
  border-radius: var(--br-base);
  background-color: var(--light-solid-color-extra-card-background);
  height: 726px;
  flex-direction: column;
  text-align: left;
  font-size: var(--light-basic-typography-paragraph-medium-size);
  color: var(--brand-color-400);
  font-family: var(--dashboard-h4-regular-24);
}
