.div186 {
  width: 96px;
  flex: 1;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.table-cell682,
.text143 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.table-cell682 {
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xl);
  font-size: var(--dashboard-h6-regular-16-size);
}
.min-ago11 {
  position: relative;
  font-weight: 500;
}
.table-cell683,
.table-cell684 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.table-cell683 {
  padding: var(--padding-lg) var(--padding-xl);
  font-size: var(--mobile-h6-regular-14-size);
}
.table-cell684 {
  padding: var(--padding-sm) var(--padding-xl);
}
.nike-air-jordan33 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
}
.table-cell685 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-xl);
  color: var(--brand-color-300);
}
.trash-icon60 {
  width: 22px;
  position: relative;
  height: 22px;
  display: none;
}
.material-symbolsarrow-drop-do-icon11 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  cursor: pointer;
}
.table-cell688,
.table-row102 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.table-cell688 {
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-xl);
  gap: var(--gap-5xs);
}
.table-row102 {
  align-self: stretch;
  background-color: var(--color-whitesmoke-200);
  justify-content: center;
  padding: 0 var(--padding-5xl) 0 var(--padding-base);
  text-align: left;
  font-size: var(--light-basic-typography-paragraph-medium-size);
  color: var(--brand-color-400);
  font-family: var(--dashboard-h4-regular-24);
}
