.title6 {
  align-self: stretch;
  width: 89px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--dashboard-h4-regular-24-size);
}
.mingcutesearch-line-icon18 {
  width: 18px;
  position: relative;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.search-bar6,
.search6 {
  display: flex;
  align-items: center;
}
.search6 {
  width: 262px;
  position: relative;
  flex-shrink: 0;
}
.search-bar6 {
  flex: 1;
  border-radius: var(--br-mini);
  background-color: var(--color-aliceblue);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
  gap: var(--gap-7xs);
  color: var(--neutral-color-300);
}
.vuesaxboldnotification-icon7 {
  width: 29px;
  position: relative;
  height: 29px;
  z-index: 0;
}
.notification-number-child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--error-color-400);
  width: 21px;
  height: 21px;
}
.div174 {
  position: absolute;
  top: 2px;
  left: 8px;
  font-weight: 500;
}
.notification-number7 {
  width: 21px;
  position: absolute;
  margin: 0 !important;
  top: -6px;
  left: 13px;
  height: 21px;
  z-index: 1;
}
.admin-notification6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.avatar-icon6 {
  flex: 1;
  position: relative;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  height: 38px;
  object-fit: cover;
}
.action13 {
  width: 91px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: center;
  color: var(--light-solid-color-extra-card-background);
}
.navbar6,
.personal-info,
.sign-in-method {
  position: absolute;
  color: var(--brand-color-400);
}
.navbar6 {
  top: 0;
  left: 292px;
  width: 1126px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  font-size: var(--mobile-h8-medium-12-size);
}
.personal-info,
.sign-in-method {
  top: 335px;
  left: 324px;
  font-size: var(--dashboard-h4-regular-24-size);
  font-weight: 600;
}
.sign-in-method {
  top: 943px;
}
.first-name {
  flex: 1;
  position: relative;
}
.solarpen-outline-icon {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.header7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.robert {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.cell,
.cell1,
.input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--mobile-h1-semibold-20-size);
  color: var(--brand-color-400);
}
.cell,
.cell1 {
  position: absolute;
  top: 403px;
  left: 324px;
  border-radius: var(--br-base);
  background-color: var(--light-solid-color-extra-card-background);
  width: 374px;
  flex-direction: column;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.cell1 {
  top: 1011px;
}
.div175,
.div176 {
  position: relative;
  font-weight: 600;
}
.div176 {
  flex: 1;
  color: var(--brand-color-400);
}
.cell2,
.cell3,
.cell4,
.cell5,
.input2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.input2 {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--mobile-h1-semibold-20-size);
  color: var(--brand-color-300);
}
.cell2,
.cell3,
.cell4,
.cell5 {
  position: absolute;
  top: 534px;
  left: 324px;
  border-radius: var(--br-base);
  background-color: var(--light-solid-color-extra-card-background);
  width: 374px;
  flex-direction: column;
  padding: var(--padding-base);
  box-sizing: border-box;
}
.cell3,
.cell4,
.cell5 {
  top: 665px;
}
.cell4,
.cell5 {
  top: 796px;
}
.cell5 {
  top: 403px;
  left: 762px;
}
.eye-icon {
  width: 19px;
  position: relative;
  height: 19px;
  overflow: hidden;
  flex-shrink: 0;
}
.cell6,
.cell7,
.cell8,
.cell9,
.input6 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.input6 {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--mobile-h1-semibold-20-size);
  color: var(--brand-color-400);
}
.cell6,
.cell7,
.cell8,
.cell9 {
  position: absolute;
  top: 1011px;
  left: 762px;
  border-radius: var(--br-base);
  background-color: var(--light-solid-color-extra-card-background);
  width: 374px;
  flex-direction: column;
  padding: var(--padding-base);
  box-sizing: border-box;
}
.cell7,
.cell8,
.cell9 {
  top: 534px;
}
.cell8,
.cell9 {
  top: 665px;
}
.cell9 {
  top: 796px;
}
.profile-child {
  position: absolute;
  top: 134px;
  left: 324px;
  border-radius: 50%;
  width: 153px;
  height: 153px;
  object-fit: cover;
}
.edit-icon {
  position: absolute;
  top: 250px;
  left: 431px;
  width: 40px;
  height: 40px;
}
.logo-icon6 {
  width: 76px;
  position: relative;
  height: 22px;
}
.indent-decrease-icon6 {
  width: 24px;
  position: relative;
  height: 24px;
}
.logo6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-sm) var(--padding-5xl)
    var(--padding-lg);
  gap: var(--gap-101xl);
}
.main-menu6 {
  position: relative;
}
.section18 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-13xl);
}
.smart-home-icon6 {
  width: 22px;
  position: relative;
  height: 22px;
}
.dashboard7 {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.div178 {
  width: 5px;
  position: relative;
  line-height: 14px;
  font-weight: 600;
  display: inline-block;
  height: 14px;
  flex-shrink: 0;
}
.badge12 {
  width: 22px;
  border-radius: var(--br-xl);
  background-color: var(--light-opacity-color-primary-primary-16);
  height: 22px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-5xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--light-basic-typography-paragraph-small-size);
  color: var(--light-solid-color-primary-primary-500-base);
  font-family: var(--light-basic-typography-paragraph-small);
}
.chevron-down-icon25 {
  width: 18px;
  position: relative;
  height: 18px;
  display: none;
}
.list58 {
  cursor: pointer;
}
.list58,
.list59 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.primesend-icon6 {
  width: 22px;
  position: relative;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
}
.pages12,
.section19 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.pages12 {
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--padding-base);
  gap: var(--gap-5xs);
  font-size: var(--mobile-h6-regular-14-size);
}
.section19 {
  border-radius: var(--br-7xs);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-13xl) var(--padding-base);
}
.list62,
.pages13 {
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.list62 {
  width: 228px;
  border-radius: var(--br-7xs);
  display: none;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
}
.pages13 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-base);
  cursor: pointer;
  font-size: var(--mobile-h6-regular-14-size);
}
.list64,
.list65,
.section20 {
  border-radius: var(--br-7xs);
  flex-direction: row;
  align-items: center;
}
.section20 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-13xl) var(--padding-mini);
}
.list64,
.list65 {
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.list64 {
  align-self: stretch;
  background-color: var(--brand-color-200);
  display: flex;
}
.list65 {
  width: 228px;
  display: none;
  box-sizing: border-box;
  color: var(--neutral-color-300);
}
.components6,
.menu6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.components6 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-base);
  gap: var(--gap-5xs);
  font-size: var(--mobile-h6-regular-14-size);
  color: var(--neutral-color-200);
}
.menu6 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-solid-color-extra-card-background);
  width: 260px;
  height: 2490px;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--mobile-h8-medium-12-size);
  color: var(--neutral-color-300);
}
.profile {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  height: 1254px;
  overflow: hidden;
  text-align: left;
  font-size: var(--mobile-h1-semibold-18-size);
  color: var(--brand-color-3001);
  font-family: var(--dashboard-h4-regular-24);
}
